* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.parent {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}

.blue {
  width: 1180px;
  height: 400px;
  border-radius: 10px;
  padding: 80px;

  background-color: rgb(55, 79, 202);

  position: relative;
}

.block-img {
  position: absolute;

  bottom: 0;
  right: 50px;
}

.title {
  color: white;

  font-size: 40px;
  font-weight: 700;

  margin-bottom: 20px;
}

.text {
  color: white;

  font-size: 20px;
  line-height: 1.6;

  margin-bottom: 30px;
}

.btn {
  width: 190px;
  height: 40px;

  border: none;
  border-radius: 8px;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;
  background-color: white;
  transition: box-shadow 0.15s linear, background-color 0.15s linear;
}

.btn:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.595);
}

.btn:active {
  background-color: rgb(154, 154, 154);
}
